.app-header {
  padding: 1.5em;
  border-bottom: 1px solid $clr-primary-3;
  > :first-child {
    gap: 1em;
  }
  h1 {
    cursor: default;
    font-weight: 700;
  }
  .icon-coin {
    width: 1em;
    height: 1em;
    margin: 0 4px;
  }
}

.username {
  cursor: pointer;
  gap: 1em;
}

.user-menu {
  background: #fff;
  border: 1px solid $clr-primary-1;
  position: absolute;
  right: 2.25em;
  top: 50px;

  @include for-narrow-layout {
    .money {
      display: none;
    }
  }
  > * {
    padding: 20px 60px 20px 20px !important;
    border-bottom: 1px solid $clr-primary-3;
  }
}

.user-money {
  display: none;
}
@include for-narrow-layout {
  .user-money {
    display: flex;
  }
}
