input {
  outline: none;
  border: 1px solid #c5c6c9;
  color: #404145;
  padding: 8px 12px;
  width: 100%;
  transition: border-color 0.15s ease-in-out;
  font-family: inherit;
  font-size: 0.9em;
  &:hover {
    border-color: #95979d;
  }
}

button {
  font-family: inherit;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background: $clr-primary-1;
  color: #fff;
  font-weight: 500;
  &:hover {
    background: $clr-primary-2;
  }
  &.btn-link {
    background: transparent;
    padding: 0 5px;
    color: $clr-primary-1;
    font-weight: 400;
    &:hover {
      color: $clr-primary-2;
    }
  }
  &.disabled {
    pointer-events: none;
    filter: opacity(0.5);
  }
}

.container {
  display: flex;
  justify-content: center;
  background: $clr-light-1;
  align-items: flex-start;
  .content {
    margin-top: 10px;
    background: #fff;
    padding: 1.5em;
    width: 100%;
  }
}

.overlay {
  inset: 0;
  position: fixed;
}
