// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/typography';
@import 'basics/layout';
@import 'basics/elements';

// Pages
@import 'pages/auth-page';
@import 'pages/hero-page';
@import 'pages/explore-page';
@import 'pages/add-page';
@import 'pages/my-heroes-page';

// Componenets
@import 'components/app-header';
@import 'components/app-footer';
@import 'components/error-message';
@import 'components/hero-list';
@import 'components/hero-preview';
@import 'components/hero-details';
